beautifulsoup4~=4.13.0b2
soupsieve~=2.6
typing_extensions~=4.12.2
pip~=24.3.1
pytz~=2024.2
numpy~=2.1.2
charset-normalizer~=3.4.0
pandas~=2.2.3
openpyxl~=3.2.0b1
python-dateutil~=2.9.0.post0
certifi~=2024.8.30
urllib3~=2.2.3
six~=1.16.0
et_xmlfile~=2.0.0
idna~=3.10
winotify~=1.1.0
requests~=2.32.3